.about-platform {
    text-align: center;
    padding: 40px 120px;
  }
  
  .carousel {
    width: 100%;
    max-width: 1200px;
    height: 450px;
    margin: 0 auto;
  }
  
  .carousel-slide {
    width: 35%; 
    transition: transform 0.5s ease-in-out;
  }
  
  .swiper-slide {
    transform: scale(0.8);
  }
  
  .swiper-slide-active {
    transform: scale(1.2); 
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  